<div>
  Id: {{id}}
</div>
<div>
  Number: {{number}}
</div>
<div>
  State: {{getInteractionStateAsString(interaction.state)}}
</div>
<button *ngIf="getInteractionStateAsString(interaction.state) === 'Alerting'" (click)="answerCall()">Answer Call</button>
<button *ngIf="getInteractionStateAsString(interaction.state) === 'Connected'" (click)="endCall()">End Call</button>
<button *ngIf="getInteractionStateAsString(interaction.state) === 'Connected'" (click)="holdCall()">Hold Call</button>
<button *ngIf="getInteractionStateAsString(interaction.state) === 'OnHold'" (click)="unholdCall()">Unhold Call</button>
